<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eas.trainingcontext.southbound.port.repository.TicketHistoryMapperPort">

    <insert id="save" parameterType="com.eas.trainingcontext.domain.tickethistory.entity.TicketHistory">
        INSERT INTO training_ticket_history (id, ticket_id, operation, operated_at)
        VALUES (#{id}, #{ticketId}, #{operationType}, #{operatedAt})
    </insert>

    <select id="findByTicketId" resultType="com.eas.trainingcontext.domain.tickethistory.entity.TicketHistory">
        SELECT id, ticket_id, operation, operated_at
        FROM training_ticket_history
        WHERE ticket_id = #{ticketId}
        ORDER BY operated_at ASC
    </select>

</mapper>
